@tailwind base;
@tailwind components;
@tailwind utilities;


.menu-open {
  background: no-repeat center url(../../public/icon-menu.svg);
  background-size: cover;
  width: 20px;
}

.menu-close {
  background: no-repeat center url(../../public/icon-close.svg);
  background-size: cover;
  width: 20px;
  cursor: pointer;
}

#blur {
  background-color: #000000bf;
}

#menu {
  transition-property: flex;
  transition-duration: 4s;
  transition-timing-function: ease-in;
}

@media screen and (min-width: 600px) {
  .main-picture {
    border-radius: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  main {
    min-height: calc(100vh - 143px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}